<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IITM G 342</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon2.png" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../css/about.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="../index.html" class="pull-left visible-md visible-lg">
              <div id="logo-img" alt="Logo image"></div>
            </a>

            <div class="navbar-brand">
              <h1>IITM Online</h1>
              <p><span>Group 342</span></p>
            </div>

            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#collapsable-nav"
              aria-expanded="false"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="collapsable-nav" class="collapse navbar-collapse">
            <ul id="nav-list" class="nav navbar-nav navbar-right">
              <li>
                <a href="../views/login.html" class="btn btn-info btn-lg">
                  <span class="glyphicon glyphicon-log-in"></span
                  ><br class="hidden-xs" />LogIn/SignUp</a
                >
              </li>
              <li>
                <a href="../index.html">
                  <span class="glyphicon glyphicon-home"></span
                  ><br class="hidden-xs" />
                  Home</a
                >
              </li>

              <li>
                <a href="../views/about.html">
                  <span class="glyphicon glyphicon-info-sign"></span
                  ><br class="hidden-xs" />
                  About</a
                >
              </li>
            </ul>
            <!-- #nav-list -->
          </div>
          <!-- .collapse .navbar-collapse -->
        </div>
        <!--Container-->
      </nav>
      <!--#header-nav -->
    </header>

    <section>
      <div class="container">
        <div class="text-center pt-5 pb-2">
          <h3>Our Motto</h3>
        </div>
        <div class="mx-2 mb-5 text-center points">
          1. Make sure everyone is up to date regarding program updates and
          course updates.
        </div>
        <div class="mx-2 mb-5 text-center points">
          2. Try to discuss some new thoughts and ideas to implement
        </div>
        <div class="mx-2 mb-5 text-center points">
          3. Maintains the communication between the members of the group
        </div>
        <div class="mx-2 mb-5 text-center points">
          4. Make sure that members are aware of any deadlines or forms to be
          filled for any type of events that are scheduled by IITM
        </div>
        <div class="mx-2 mb-5 text-center points">
          5. Arranges at least one meetup every week for interaction among
          members of the group
        </div>
        <div class="mx-2 mb-5 text-center points">
          6. Ensures all communication is fair, free and safe amongst the
          members, without any problems.
        </div>
        <div class="mx-2 mb-5 text-center points">
          7. Make sure every member is on same page
        </div>
        <div class="mx-2 mb-5 text-center points">
          8. Open to take constructive feeback from the members of the group
        </div>
        <div class="mx-2 mb-5 text-center points">
          9. Try to plan activities after discussing among the group members
        </div>
        <div class="mx-2 mb-5 text-center points">
          10. If there any problems for anyone, I'll try to resolve the issue at
          the earlist possible by contacting the higher authorities.
        </div>
        <div class="mx-2 mb-5 text-center points">
          11. Try to reduce the gap between the authorities and members of the
          group
        </div>
      </div>
    </section>

    <!-- jQuery (Bootstrap JS plugins depend on it) -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
