<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
    <link rel="shortcut icon" type="image/png" href="../images/favicon2.png" />
  </head>

  <body>
    <h2>Login to Group 342</h2>
    <br />
    <div class="login">
      <form id="login" method="post" action="login.php">
        <label><b>IITM Email </b> </label>
        <input type="text" name="Uname" id="Uname" placeholder="Email " />
        <br /><br />
        <label><b>Password </b> </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Password" />
        <br /><br />
        <input type="submit" class="btn" value="Login" />
        <br /><br />
        <input type="checkbox" id="check" />
        <span>Remember me</span>
        <br /><br />
        <p>
          Not Registered?
          <a href="registartion.html" target="blank">SingUp here </a>
        </p>
        <br /><br />
        <a href="reset-password.php"> Forgot Password</a>
      </form>
    </div>
  </body>
</html>
